{% load static %}
{% load socialaccount %}


{% if user.is_authenticated %}
    <meta http-equiv="REFRESH" content="0;url=/dashboard">
{% else %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon"  href="{% static 'assets/img/icon/app-icon2.png' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


    <title>GameByte - Login</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/LoginSignup.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

  
</head>
<body style="background-image: url('/static/assets/img/splash/login-bg.jfif'); background-repeat: no-repeat;">

<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back to <img src="{% static 'assets/img/logos/Login-logo.png' %}" width="180" height="60"></h3>

              <!-- Sign In Form -->
              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-floating mb-3">
                  <input type="username" class="form-control" name="username" id="id_username" placeholder="Username" required> 
                  <!-- {{ form.username }} -->
                  <label for="floatingInput"><i class="fas fa-user" style="margin-right: 10px;"></i> Username </label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required>
                  <!-- {{form.password}} -->
                  <label for="floatingPassword"><i class="fas fa-lock" style="margin-right: 10px;"></i> Password </label>
                </div>

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label" for="rememberPasswordCheck" style="color: white;">
                    Remember password
                  </label>
                </div>
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                  Your username and password didn't match. Please try again.
                </div>
                     
                   
              {% endif %}
                <div class="d-grid">
                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                  <div class="text-center">
                    <a class="small" href="/auth/password_reset" style="color: white;">Forgot password?</a>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <h6 class="small" href="#" style="color: white;">New to GameByte?
                      <a class="small" href="/register" style="color: #fcdf18;">
                        <b>SIGN UP</b>
                      </a>
                    </h6>
                  </div>
                </div>
                <div class="or-container">
                    <div class="line-separator"></div>
                    <div class="or-label">or</div>
                    <div class="line-separator"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="{% provider_login_url 'google' %}">
                        <img src="{%  static  'assets/img/icon/google.png' %}" width="20" height="20" style="margin-right: 10px;"> Continue With Google
                      </a>
                    </div>
                </div>
                

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  
</script>
</html>

{% endif %}