{% extends "base.html" %}

{% block title %}
GameByte - Playground
{% endblock %}




{% block body %}
<style type="text/css">
    input,
    textarea,
    [contenteditable] {
        caret-color: red;
    }
.vertical-scrollable{
  
  overflow-y: scroll;
  color: red; 
}
.CodeMirror { 
    height: auto; 
    border: 1px solid #ddd;
    /* BACKGROUND COLOR */
    background-color: black;
    color: white;
    /* FIT  */
    height: 100%;
}
.CodeMirror-scroll {
    /* removed horizontal scroll */
 /* max-height: 200px;  */
}

.banner { 
    background: #ffc; 
    padding: 6px; 
    border-bottom: 2px solid silver; 
    text-align: center 
}


button:hover:before {
opacity: 1
}
button:hover:active {
background: none
}
button:hover:active:before {
filter: blur(2px)
}



</style>		

<div class="row " >
    {% comment %} <div class="col-1"></div> {% endcomment %}
    <div class="col-md-6 col-sm-12 col-xs-12 "style="background-color:#282c3c;color: white; ">
        <div class="row">
           
            <div class="col-12" style="padding: 10px;">
                <div style="height: 300px; background-color: #111; width: 100%;">
                    {% block game %}
                        {% include problem.problemGameFileName %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 vertical-scrollable " style="height: 200px;">
                <h3 style="font-family:serif;color:#fcdf18;font-size: 30">{{problem.title}}
                </h3>
                <p style="font-family:serif;color:darkgrey;">{{problem.description}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 " style="background-color:#282c3c;color: darkgrey; font-family:monospace; height: 120px;">Console output 
            </div>

        </div>
       
       
    </div>
   
    <div class="col-md-6 col-sm-12 col-xs-12 "style="background-color:#282c3c;color: white; ">
        <div class="row">
            <div class="col-12" style="padding: 10px;">
                <section id="demo" style="height: 400px;">
           
                    <textarea  id="demotext" autofocus style="color:white;" onEvent="nextField(this);" >{{templateSolutionCode}}</textarea>
            </section>
            </div>
        </div>
        <div class="row">
            <div class="col-6" >
                <button align="center" class="btn btn-warning" onclick="init()">Run TestCases</button>
            </div>
            <div class="col-6">
                <button align="center" class="btn btn-success">Submit Code</button>
            </div>
        </div>    
    </div>
    {% comment %} <div class="col-1">
    </div> {% endcomment %}
</div>

{% endblock %}

    
    {% block javascript %}
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("demotext"), {
            lineNumbers: true,
            mode: "text/html",
            matchBrackets: true
        });
    </script>
    <script type="text/javascript">
        function nextField(current)
        {
            for (i = 0; i < current.form.elements.length; i++)
            {
                if (current.form.elements[i].tabIndex - current.tabIndex == 1)
                {
                    current.form.elements[i].focus();
                     if (current.form.elements[i].type == "text")
                     {
                         current.form.elements[i].select();
                     }
                }
            }
        }
    </script>
    {% endblock %}



