

{% extends "base.html" %}
{% load static %}
{% block title %}
{{ user.first_name }} {{user.last_name}}
{% endblock %}


{% block body %}
    <div class="row no-gutters" >
        <div class="col-md-12">
            <div class="fb-profile-block ">
                <div class="fb-profile-block-thumb cover-container" style="background-image: url('/static/assets/img/cover/default_banner.jpg')">

                        <i class="fa fa-camera fa-2x coverImageUploadButton" data-toggle="modal" data-target="#myModal"></i>

                        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="background-color: #252e38; color: #fcdf18;">
                                    <br>
                                    <div class="d-flex flex-row align-items-center back">
                                        <h4 class="mt-1 ml-3">Upload Cover Photo</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="photo-input mt-5">
                                             <input type="file" id="loadFile" onchange="console.log(this.files[0].name);" />
                                                <button class="btn btn-sm btn-secondary" onclick="document.getElementById('loadFile').click()"> Select a file </button>
                                        </div>
                                    </div>
                                    <div class="mt-5 text-right" style="margin: 5px;">
                                        <button class="btn btn-warning" type="button">Set Cover</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>

                <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;">
                    <li style="float: left;">
                        <p style=" display: flex ;margin-left: 200px;margin-top: 285px">
                            
                            <span class="fa-stack">
                                <!-- The icon that will wrap the number -->
                                <span class="fas fa-circle fa-stack-2x" style="color: white;"></span>
                                <!-- a strong element with the custom content, in this case a number -->
                                <strong class="fa-stack-1x ">
                                    <i class="fa fa-briefcase" style="color: black;"></i>    
                                </strong>
                            </span>
                            
                            <b style="color: #fcdf18; margin-top: 2px; font-family: monospace;">{{userDetails.company}}</b>
                        </p>
                    </li>
                    
                    <li style="float: left;" class="small">
                        <p style=" display: flex;margin-left: 30px;margin-top: 285px">
                            
                            <span class="fa-stack">
                                <!-- The icon that will wrap the number -->
                                <span class="fas fa-circle fa-stack-2x" style="color: white;"></span>
                                <!-- a strong element with the custom content, in this case a number -->
                                <strong class="fa-stack-1x ">
                                    <i class="fa fa-graduation-cap" style="color: black;"></i>    
                                </strong>
                            </span>
                            
                            <b style="color: #fcdf18; margin-top: 5px; font-family: monospace;">{{userDetails.education}}</b>
                        </p>
                    </li>
                    
                    
                    <li style="float: left;" class="small">
                        <p style=" display: flex;margin-left: 30px;margin-top: 285px">
                            
                            <span class="fa-stack">
                                <!-- The icon that will wrap the number -->
                                <span class="fas fa-circle fa-stack-2x" style="color: white;"></span>
                                <!-- a strong element with the custom content, in this case a number -->
                                <strong class="fa-stack-1x ">
                                    <i class="fa fa-map-marker" style="color: black;"></i>    
                                </strong>
                            </span>
                            
                            <b style="color: #fcdf18; margin-top: 5px; font-family: monospace;">{{userDetails.country}}</b>
                        </p>
                    </li>
                    
                </ul>


                </div>
                <div class="profile-img">
                    <a href="#">

                        <img src="{% static 'assets/img/avatars/avatar-06.png' %}" alt="profilePic" title="">
                    </a>
                </div>

                <div class="profile-name" style="margin-bottom: 15px">
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                </div>


                <div class="fb-profile-block-menu">
                    <div class="block-menu">
                            <button type="button" class= "btn btn-warning editProfileButton"
                             data-toggle="modal" data-target="#editProfileModal"
                             style="background-color: #fcdf18; border: #fcdf18;">
                                <i class="fa fa-pencil" ><b>Edit Profile</b></i>
                            </button>
                            <div class="modal fade" id="editProfileModal" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content" style="background-color: #252e38; color: #fcdf18;">
                                    
                                            <div class="container rounded" style="background-color: #252e38;">
                                                <div class="row">
                                                    <div class="col-md-4 border-right">
                                                        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" id="img-preview" src="{% static 'assets/img/avatars/avatar-06.png' %}" height="90" width="90">
                                                            <span class="font-weight-bold">{{user.first_name}} {{user.last_name}}</span>
                                                            <span style="color: white;">{{user.email}}</span>
                                                            <span style="color: white;">{{userDetails.country}}</span></div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="p-3 py-5">
                                                                <div class="d-flex justify-content-between align-items-center mb-3">
                                                                    <div class="d-flex flex-row align-items-center back">
                                                                        <h4>Edit Profile</h4>
                                                                    </div>
                                                                    </div>
                                                                    
                                                                    <div class="form-floating mb-3">
                                                                        <input type="text" class="form-control" name="company" id="floatingInputCompany" placeholder="Company" value="{{userDetails.company}}">
                                                                        <label for="floatingInputCompany" style="color: black;"><i class="fa fa-briefcase" style="margin-right: 10px; color: black;" ></i> Company</label>
                                                                    </div> 
                                                                   
                                                                    <div class="form-floating mb-3">
                                                                        <input type="text" class="form-control" name="university" id="floatingInputUniversity" placeholder="University" value="{{userDetails.education}}">
                                                                        <label for="floatingInputUniversity" style="color: black;"><i class="fa fa-graduation-cap" style="margin-right: 10px; color: black;" ></i> University</label>
                                                                    </div> 

                                                                    <div class="form-floating mb-3">
                                                                        <input type="text" class="form-control" name="programmingLanguages" id="floatingInputPL" placeholder="Programming Languages" value="{{userDetails.programming_languages}}">
                                                                        <label for="floatingInputPL" style="color: black;"><i class="fa fa-code" style="margin-right: 10px; color: black;" ></i> Programming Languages</label>
                                                                    </div> 

                                                                    <div class="form-floating mb-3">
                                                                        <input type="text" class="form-control" name="Skills" id="floatingInputSkills" placeholder="Skills" value="{{userDetails.skills}}">
                                                                        <label for="floatingInputSkills" style="color: black;"><i class="fa fa-cogs" style="margin-right: 10px; color: black;" ></i> Skills</label>
                                                                    </div>
                                                                    
                                                                    <div class="form-floating mb-3">
                                                                        <input type="text" class="form-control" name="country" id="floatingInputCountry" placeholder="Country" value="{{userDetails.country}}">
                                                                        <label for="floatingInputCountry" style="color: black;"><i class="fa fa-map-marker" style="margin-right: 10px; color: black;"  ></i>  Country</label>
                                                                    </div>
                                                                    <div class="input-group mb-3" style="height: 60px;">
                                                                        <label for="floatingInputPPic" class="input-group-text" style="color: black;"><i class="fa fa-picture-o" style="margin-right: 10px; color: black;"  ></i>Profile Picture</label>
                                                                        <input type="file" class="form-control p-3" name="profile_pic" id="floatingInputPPic" accept="image/*" onchange="showPreview(event);">
                                                                    </div>
                                                    
                                                                    <div class="form-floating mb-3">
                                                                        <textarea class="form-control" name="about" id="floatingInputAbout" rows="4" cols="40" placeholder="About You" >{{userDetails.bio}}</textarea>
                                                                        <label for="floatingInputAbout" style="color: black;"><i class="fa fa-info-circle" style="margin-right: 10px; color: black;" ></i> About You</label>
                                                                    </div>
                                                                    <div class="mt-5 text-right">
                                                                        <button class="btn btn-warning" type="button" onclick="updateProfile()">Save Profile</button>
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </div>
                                            </div>
                                       
                                    </div>
                                </div>
                            </div>
{#                            </div>#}
{#                        </div>#}

                    </div>
                </div>
            </div>
<div class="container-fluid" style="margin-top: 20px">
	<div class="row">
		<div class="col-sm-7">
			<ul style="list-style-type: none;padding: 0;overflow: hidden;">
				<li>
					<div class="card" data-toggle="modal" data-target="#myModal5" style="background-color: #252e38">
						<div class="card-body" style="height: 90px">
							<h4 style="color: #fcdf18">ABOUT ME</h4>
							<p class="card-text">{{ userDetails.bio }}</p>
						</div>
					</div>
				</li>

				<li style="margin-top: 20px;">
					<div class="card" style="background-color: #252e38">
						<div class="card-body" style="height: 90px">
							<h4 style="color: #fcdf18">PROGRAMMING LANGUAGES</h4>
							<p class="card-text">{{userDetails.programming_languages}}</p>
						</div>
					</div>
				</li>
				<li style="margin-top: 20px">
					<div class="card" style="background-color: #252e38">
						<div class="card-body" style="height: 90px">
							<h4 style="color: #fcdf18">SKILLS</h4>
							<p class="card-text">{{userDetails.skills}}</p>
						</div>
					</div>
				</li>
			</ul>

		</div>
		<div class="col-sm-5">
				<div class="card" data-toggle="modal" data-target="#right_modal" style="border: none;background-color: #252e38">
					<div class="card-body" style="height: auto">
						<h4 style="color: #fcdf18">PROGRESSION</h4>
						<p class="card-text" style="text-align: center;margin-top: 50px;font-size: 20px; color: #fcdf18">
                            <span class="fa-stack" style="margin-bottom: 40px;">
                                <!-- The icon that will wrap the number -->
                                <span class="fas fa-stack-2x"><img src="{% static 'assets/img/icon/star.png' %}" alt="star" height="70" width="70"></span>
                                <!-- a strong element with the custom content, in this case a number -->
                                <strong class="fa-stack-1x " style="color: goldenrod; margin-top: 15px; margin-left: 13px;">
                                    <b>{{userDetails.rank_star}}</b>
                                </strong>
                            </span>
                            <b style=" margin-left: 30px; font-family: monospace;">Level </b></p>
						    <div>
                                <h4 style="margin-top: 40px; color: #fcdf18">Next level</h4>
						        <div class="progress">
							        <div class="progress-bar bg-warning" style="width: 80% ;">
							        </div>
						        </div>
                            </div>
					</div>
				</div>


			</div>
		</div>
</div>
        </div>
    </div>
<script>

function updateProfile()
{
    about = document.getElementById('floatingInputAbout').value;
    company = document.getElementById('floatingInputCompany').value;
    education = document.getElementById('floatingInputUniversity').value;
    programming_languages = document.getElementById('floatingInputPL').value;
    skills = document.getElementById('floatingInputSkills').value;
    country = document.getElementById('floatingInputCountry').value;

    $.ajax({
        url: 'update_profile',
        type: 'POST',
        data: {
            'about': about,
            'company': company,
            'education': education,
            'programming_languages': programming_languages,
            'skills': skills,
            'country': country,
            csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function(data)
        {
            location.reload();
        }
    });
}


function showPreview(event){
  if(event.target.files.length > 0){
    var src = URL.createObjectURL(event.target.files[0]);
    var preview = document.getElementById("img-preview");
    preview.src = src;
    preview.style.display = "block";
  }
}
</script>

{% endblock %}